body {
background-color: crimson;
}
h1{
  color: blueviolet;
} 
form{
  height: 200px;
  position: relative;
  border: 3px solid green;
}
form{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}